body{
    background-color: antiquewhite;
    background-image:url(/rock.png);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background-attachment: fixed;
    color: white;
}
#container{
    height: 200px;
    width: 200px;
    background-image:url(./paper.png);
    background-repeat: no-repeat;
    background-size: 200px 200px;
}
.img{
    height: 200px;
    width: 300px;
    background-image: url(./sciser.png);
    background-repeat: no-repeat;
    background-size: 300px 200px;
}
    
   