body{
}
.main{
    height: 700px;
    width: 100%;
    background-color: black;
}
.cs{
    height: 500px;
    width: 100%;
  background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
div{
    height: 250px;
    width: 300px;
    background-color: antiquewhite;
    text-align: center;

}
pre,h1,p{
    width: 200px;
    margin:10px auto;
    text-align:justify ;
}
pre{
    color: red;
}
h2{
    color: rgb(177, 27, 27);
    text-align: justify;
    text-align: center;
    text-decoration: uppercase;
    
}